In [3]:
#pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-24.2-py3-none-any.whl (1.8 MB)
     ---------------------------------------- 1.8/1.8 MB 6.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-24.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000025DDFB769D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /packages/d4/55/90db48d85f7689ec6f81c0db0622d704306c5284850383c090e6c7195a5c/pip-24.2-py3-none-any.whl
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000025DDC50D890>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /packages/d4/55/90db48d85f7689ec6f81c0db0622d704306c5284850383c090e6c7195a5c/pip-24.2-py3-none-any.whl

In [ ]:
#pip install --upgrade pip

In [10]:
import pandas as pd # importa a biblioteca pandas e nomeia de "pd"

In [20]:
# Cria um dicionário com os valores abaixo
Dicionario = {
     "A":[1,2,3,4,5,6,7],
     "B":[8,9,10,11,12,13,14],
     "C":[15,16,17,18,19,20,21],
}
Labels= ["1ª Linha", "2ª Linha","3ª Linha", "4ª Linha","5ª Linha","6ª Linha","7ª Linha"] #cria o label

In [21]:
df = pd.DataFrame(Dicionario, index=Labels) #cria o dataframe com os dados
#dicionario
df.head() # Exibe as primeiras 4 linhas do dataframe

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19

In [22]:
df.head(7)

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [15]:
df.tail() # exibe as quatro ultimas linhas do dataframe

          A  B   C
1ª Linha  1  5   9
2ª Linha  2  6  10
3ª Linha  3  7  11
4ª Linha  4  8  12

In [23]:
df['D'] = df['C']*df['A'] # operação com coluna

In [24]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [25]:
df.drop('D',axis=1) # exclui a coluna D, axis = 1 é pela coluna

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [26]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [27]:
df.drop('D',axis=1,inplace=True) #Exclui a coluna D deginitivamente do dataFrame

In [28]:
df.head(7)

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [29]:
df.iloc[2:5] # exibe da linha 2 a linha 5

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19

In [30]:
df.iloc[2:5, :1] # Exibe da linha 2 a linha 5 e a primeira coluna

          A
3ª Linha  3
4ª Linha  4
5ª Linha  5

In [31]:
df.iloc[2:5, :2] # Exibe da linha 2 a linha 5 e a segunda coluna

          A   B
3ª Linha  3  10
4ª Linha  4  11
5ª Linha  5  12

In [32]:
df.loc[["1ª Linha", "3ª Linha"],["A","B"]] # Loc o filtro é com o nome da linha e da coluna

          A   B
1ª Linha  1   8
3ª Linha  3  10